@model WebHungdongho.Models.DanhMuc

@{
    ViewBag.Title = "Delete";
}
<style>
    .form-horizontal {
        margin-top: 20px;
    }

    .control-label {
        font-weight: bold;
    }

    .btn-default {
        background-color: #337ab7;
        color: #fff;
    }
</style>
<h2>Xóa</h2>
<h3>Bạn chắc chắn muốn xóa không?</h3>
<div>
    <h4>Danh Mục</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenDanhMuc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenDanhMuc)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Quay lại", "Index")
        </div>
    }
</div>
