@{
    ViewBag.Title = "Resetpassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Nhập tên tài khoản cần reset mật khẩu:</h2>

    @using (Html.BeginForm())
    {
        <div class="form-group">
            @Html.TextBox("tendangnhap", null, new { @class = "form-control", placeholder = "Nhập tên đăng nhập" })
            <input type="submit" value="OK" class="btn btn-primary" />
        </div>
    }

    @if (!string.IsNullOrEmpty(ViewBag.Message))
    {
        <div class="alert alert-danger" role="alert">
            @ViewBag.Message
        </div>
    }
</div>
